@model MercadoLibre.AspNetCore.SDK.Models.AuthorizeToken

@{
    ViewData["Title"] = "Authentication Result";
}

AccessToken: @Model.AccessToken
<br />
RefreshToken: @Model.RefreshToken
<br />
ExperiIn: @Model.ExperiIn
<br />
UserId: @Model.UserId
<br />
Scope: @Model.Scope
<br />
TokenType: @Model.TokenType
<br />

<form asp-controller="MercadoLibre" asp-action="Refresh" method="post">
    <input type="hidden" asp-for="RefreshToken" value="@Model.RefreshToken" />
    <button>Refresh Token</button>
</form>